<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Input</h2>
    <form action="/result">
      <ul>
        <% (requiredOptions || []).forEach(function (option) { %>
          <li>
            <label>
              <%= option %>
              <input name="<%= option %>">
            </label>
          </li>
        <% }) %>
      </ul>
      <input type="submit">
    </form>
  </body>
</html>
